*{
  text-align: center;
  font-family: 'Chewy', cursive;
}

body {
  width:100%;
  height: 100%;
  background: linear-gradient(90deg, #ccffd7,#8fb8ff, #24AADB , #27DBB1, rgb(199, 240, 231));
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  animation-direction: alternate;  
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}


