*{
  text-align: center;
  font-family: 'Titan One', cursive;
}

body {
  width:100%;
  height: 100%;
  background: linear-gradient(90deg, #64ffda , #b388ff, #651fff, #27DBB1, #a7ffeb);
  background-size: 600% 100%;
  animation: gradient 20s linear infinite;
  animation-direction: alternate;  
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.slime {
  width: 50%;
  height: 47%;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}


