/* . {
    width:100%;
    height: 100%;
    background: linear-gradient(60deg ,#ccffd7,#cc99ff, #6600cc , #27DBB1, rgb(139, 251, 227));
    background-size: 600% 100%;
    animation: gradient 20s linear infinite;
    animation-direction: alternate;
    font-size:2.1rem;
  } */
  @keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
  }
  a.brand-logo{
    font-size: 4rem;
  }

  .fixed-action-btn {
    left: -1300px;
  }
