form {
    margin: 0 30% 0 30%;
}
.regEmail label {
    color: white;
    border-color: white;
  }
  
.regEmail input[type="text"]:focus + label {
    color: white;
  }
  
  /* label underline focus color */
.regPass input[type="text"]:focus {
    color: white;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  
.regPass {
    color: white;
    border-color: white;
  }